/* Palette */
/*  
	#E6F6FD - light light blue
	#B4E0F2 - light blue
	#0069AA - LOC blue
	#0D1C41 - dark blue
	#7A2527 - dark red
	#0D1C41 - dark blue
	#000000 - black

	alternates:

	rgba(227, 247, 254, 0.9) - reproduces light blue on white background
*/


// Color Palette
$light-light-blue: #E6F6FD;
$light-blue: #B4E0F2;
$loc-blue: #0069AA;
$dark-blue: #0D1C41;
$dark-red: #7A2527;

// Color Assignments
$page-bg: $light-light-blue;
$body-color: #FFF;
$body-text-color: #000;
$loading-text-color: #777;
$pub_date_text_color: #777;
$link-color: $dark-red;
$link-hover: $loc-blue;
$nav-border: $loc-blue;
$nav-link-color: $dark-blue;
$loading-border-color: $light-blue;
